<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shirt.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @shirt.url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @shirt.image_url %>
</p>

<p>
  <strong>Site:</strong>
  <%= @shirt.site.name %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @shirt.visible %>
</p>

<%= link_to 'Edit', edit_shirt_path(@shirt) %> |
<%= link_to 'Back', shirts_path %>
